# ***MySQL Database***



***Python MySQL Connector***

Python MySQL Connector is a Python driver that helps to integrate Python and MySQL. This Python MySQL library allows the conversion between Python and MySQL data types.

***Installation***

In [ ]:
conda install -y mysql-connector-python

![mysql.PNG]()

***Connecting to MySQL Server***

We can connect to the MySQL server using the connect() method.

In [ ]:
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",  #Enter your localhost name
user ="user",  #Enter your User Name
passwd ="password" #Enter your password
)

print(dataBase)

# Disconnecting from the server
dataBase.close()

***Output:***

![output.PNG]()

***Creating Database***

After connecting to the MySQL server let’s see how to create a MySQL database using Python. For this, we will first create a cursor() object and will then pass the SQL command as a string to the execute() method. The SQL command to create a database is – 



***CREATE DATABASE DATABASE_NAME***   #E.g ***Test*** is your database name

***CREATE DATABASE Test***

***Example: Creating MySQL database with Python***

In [ ]:
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="user",
passwd ="password"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

# creating database
cursorObject.execute("CREATE DATABASE Test")

***Creating Tables***

For creating tables we will follow the similar approach of writing the SQL commands as strings and then passing it to the execute() method of the cursor object. SQL command for creating a table is – 

CREATE TABLE
(
    column_name_1 column_Data_type,

    column_name_2 column_Data_type,

    :

    :

    column_name_n column_Data_type
    
);

***Example: Creating MySQL table using Python***

In [ ]:
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="user",
passwd ="password",
database = "Test"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

# creating table
studentRecord = """CREATE TABLE STUDENT (
				NAME VARCHAR(20) NOT NULL,
				BRANCH VARCHAR(50),
				ROLL INT NOT NULL,
				SECTION VARCHAR(5),
				AGE INT
				)"""

# table created
cursorObject.execute(studentRecord)

# disconnecting from server
dataBase.close()

***Insert Data into Tables***

To insert data into the MySQL table Insert into query is used. 

Syntax:

 INSERT INTO table_name (column_names) VALUES (data)

***Example 1: Inserting Single Row***

In [ ]:
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="user",
passwd ="password",
database = "Test"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

sql = "INSERT INTO STUDENT (NAME, BRANCH, ROLL, SECTION, AGE)\
VALUES (%s, %s, %s, %s, %s)"
val = ("Ram", "CSE", "85", "B", "19")

cursorObject.execute(sql, val)
dataBase.commit()

# disconnecting from server
dataBase.close()

***Example 2: Inserting Multiple Rows***

In [ ]:
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="user",
passwd ="password",
database = "Test"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

sql = "INSERT INTO STUDENT (NAME, BRANCH, ROLL, SECTION, AGE)\
VALUES (%s, %s, %s, %s, %s)"
val = [("Nikhil", "CSE", "98", "A", "18"),
	("Nisha", "CSE", "99", "A", "18"),
	("Rohan", "MAE", "43", "B", "20"),
	("Amit", "ECE", "24", "A", "21"),
	("Anil", "MAE", "45", "B", "20"),
	("Megha", "ECE", "55", "A", "22"),
	("Sita", "CSE", "95", "A", "19")]

cursorObject.executemany(sql, val)
dataBase.commit()

# disconnecting from server
dataBase.close()

***Update Data***

Syntax:

UPDATE tablename

SET ="new value"

WHERE ="old value";

***Example: Update MySQL table using Python***

In [ ]:
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="user",
passwd ="password",
database = "Test"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

query = "UPDATE STUDENT SET AGE = 23 WHERE Name ='Ram'"
cursorObject.execute(query)
dataBase.commit()

# disconnecting from server
dataBase.close()

***Delete Data from Table***

Syntax:

DELETE FROM TABLE_NAME WHERE ATTRIBUTE_NAME = ATTRIBUTE_VALUE

# ***Excercise***

1.  Write a program to delete a query from the table in the database.

2. Write a Program to demonstrate drop if exists. We will try to drop a table which does not exist in the above database.

3. Write a Program to drop table Test.

4. Write a program to display only 2 records.

5. Write a program to start from the second record and display the first two records.

6. Write a Program to arrange the data in ascending order by name.


7. Write a Program Arranging the database in descending order.
8. write a Program to get namefrom the table, arranged in descending order by Roll no.

9. Write a statement to create a table named countries including columns country_id,country_name and region_id and make sure that no duplicate data against column country_id will be allowed at the time of insertion.

10. Write a query to find the addresses (location_id, street_address, city, state_province, country_name) of all the departments.

11. Write a statement to change the email and commission_pct column of employees table with 'not available' and 0.10 for those employees whose department_id is 10.

12. Write a statement to insert rows in the job_history table in which one column job_id is containing those values which are exists in job_id column of jobs table.

13. Write a statement to rename the table countries to country_new.

14. Write a statement to create a simple table countries including columns country_id,country_name and region_id.

15. Write a statement to create a table job_history including columns employee_id, start_date, end_date, job_id and department_id and make sure that, the employee_id column does not contain any duplicate value at the time of insertion and the foreign key column job_id contain only those values which are exists in the jobs table.

16. Find the average salary by employee title, round to 2 decimal places and order by descending order.

17. Find the number of Male (M) and Female (F) employees in the database and order the counts in descending order.

18. Find all the employees that have worked in at least 2 departments. Show their first name, last_name and the number of departments they work in. Display all results in ascending order.

19. Display the first name, last name, and salary of the highest payed employee.

20. Display the first name, last name, and salary of the second highest payed employee.

21. Display each department and the age of the youngest employee at hire date.

22. Find all the employees that do not contain vowels in their first name and display the department they work in.