# ***`MySQL Excercise`***

## ***1. Write a program to delete a query from the table in the database.***

In [ ]:
# importing required library
import mysql.connector

# connecting to the database
dataBase = mysql.connector.connect(
					host = "localhost",
					user = "user",
					passwd = "pswrd",
					database = "Test" )

# preparing a cursor object
cursorObject = dataBase.cursor()

# creating table
studentRecord = """CREATE TABLE STUDENT (
				NAME VARCHAR(20) NOT NULL,
				BRANCH VARCHAR(50),
				ROLL INT NOT NULL,
				SECTION VARCHAR(5),
				AGE INT
				)"""

# table created
cursorObject.execute(studentRecord)

# inserting data into the table
query = "INSERT INTO STUDENT (NAME, BRANCH, ROLL, SECTION, AGE) VALUES (% s, % s)"

attrValues = ("Rituraj Saha", "Information Technology", "1706256", "IT-3", "20")
cursorObject.execute(query, attrValues)

attrValues = ("Ritam Barik", "Information Technology", "1706254", "IT-3", "21")
cursorObject.execute(query, attrValues)

attrValues = ("Rishi Kumar", "Information Technology", "1706253", "IT-3", "21")
cursorObject.execute(query, attrValues)

# deleting query
query = "DELETE FROM STUDENT WHERE ROLL = 1706256"
cursorObject.execute(query, attrValues)

dataBase.commit()

# disconnecting from server
dataBase.close()

## ***2. Write a Program to demonstrate drop if exists. We will try to drop a table which does not exist in the above database.***

In [ ]:
# Python program to demonstrate
# drop clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# drop clause
statement = "Drop Table if exists Employee"

# Uncommenting statement ="DROP TABLE employee"
# Will raise an error as the table employee
# does not exists

cs.execute(statement)
	
# Disconnecting from the database
mydb.close()

## ***3. Write a Program to **drop** table Test.***

In [ ]:
# Python program to demonstrate
# drop clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# drop clause
statement ="DROP TABLE Test"

cs.execute(statement)
	
# Disconnecting from the database
mydb.close()

## ***4. Write a program to display only 2 records.***

In [ ]:
import mysql.connector

# Conencting to the database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# STUDENT and STudent are
# two different database
statement ="SELECT * FROM STUDENT LIMIT 2"

cs.execute(statement)
result_set = cs.fetchall()

for x in result_set:
	print(x)

## ***5. Write a program to start from the second record and display the first two records.***

In [ ]:
import mysql.connector

# Conencting to the database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# STUDENT and STudent are
# two different database
statement ="SELECT * FROM STUDENT LIMIT 2 OFFSET 1"

cs.execute(statement)
result_set = cs.fetchall()

for x in result_set:
	print(x)

### ***6. Write a Program to arrange the data in ascending order by name.***

In [ ]:
# Python program to demonstrate
# order by clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
password = ''
)

cs = mydb.cursor()

# Order by clause
statement ="SELECT * FROM Student ORDER BY Name"
cs.execute(statement)

result_set = cs.fetchall()

for x in result_set:
	print(x)
	
# Disconnecting from the database
mydb.close()

## ***7. Write a Program Arranging the database in descending order***

In [ ]:
# Python program to demonstrate
# order by clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# Order by clause
statement ="SELECT * FROM Student ORDER BY Name DESC"
cs.execute(statement)

result_set = cs.fetchall()

for x in result_set:
	print(x)
	
# Disconnecting from the database
mydb.close()

## ***8.  write a Program to get namefrom the table, arranged in descending order by Roll no.***

In [ ]:
# Python program to demonstrate
# order by clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# Order by clause
statement ="SELECT Name FROM Student ORDER BY Roll_no DESC"
cs.execute(statement)

result_set = cs.fetchall()

for x in result_set:
	print(x)
	
# Disconnecting from the database
mydb.close()