# numpy/pandas

## numpy
* fundamental package for scientific computing (i.e., numerics and mathematics) with Python
* vector oriented computing
* efficiently implemented multi-dimensional arrays
* how are numpy arrays different from Python containers?
 * Python variables are referencesâ€“values are independent objects with their own space in memory and a Python variable points (or refers) to it
   * inefficient for lots of vars of same type
 * numpy arrays reserve a space in memory and all of the values are contiguous

![alt-text](array_vs_list.png 'array vs. list')

![alt-text](numpy-array.jpg 'numpy-array')

## numpy datatypes
* __`numpy`__ is very precise about identifying datatypes
* several types of integers: __`numpy.int8`__, __`numpy.int16`__, __`numpy.int32`__, __`numpy.int64`__ (also unsigned)
* __`numpy.float32`__, __`numpy.float64`__, __`numpy.float128`__ (also complex types)
* boolean
* string, Unicode string (same as Python but length must be specified in advance)

## creating numpy arrays

In [1]:
import numpy as np
a = np.array([1, 2, 3, 4, 5])
a # repr() is being called

array([1, 2, 3, 4, 5])

In [2]:
type(a), a.dtype

(numpy.ndarray, dtype('int64'))

In [3]:
# types matter for ndarrays!
a[0] = 34.7 # Ok, as it can be converted to int
a[0] = 'x'
a

ValueError: invalid literal for int() with base 10: 'x'

In [4]:
# If need be, you can specify type
a = np.array([1, 2, 3, 4, 5], dtype=np.float64)
a

array([1., 2., 3., 4., 5.])

In [5]:
a.ndim, a.shape, a.size

(1, (5,), 5)

In [6]:
# unlike Python lists, NumPy arrays can
# multi-dimensional
b = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
             dtype=np.float64)
b

array([[ 1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10.]])

In [7]:
# ...or initialize using a list comprehension
np.array([range(i, i + 3) for i in [3, 5, 7]])

array([[3, 4, 5],
       [5, 6, 7],
       [7, 8, 9]])

In [8]:
b, b.ndim, b.shape, b.size

(array([[ 1.,  2.,  3.,  4.,  5.],
        [ 6.,  7.,  8.,  9., 10.]]),
 2,
 (2, 5),
 10)

## Creating arrays from scratch
* especially for larger arrays, it is more efficient to create arrays from scratch using routines built into NumPy

In [9]:
np.zeros((4, 6), dtype=int)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [10]:
np.empty((4, 4), dtype='float64')

array([[2.05833592e-312, 2.33419537e-312, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000]])

In [11]:
np.full((3, 9), 3.14159)

array([[3.14159, 3.14159, 3.14159, 3.14159, 3.14159, 3.14159, 3.14159,
        3.14159, 3.14159],
       [3.14159, 3.14159, 3.14159, 3.14159, 3.14159, 3.14159, 3.14159,
        3.14159, 3.14159],
       [3.14159, 3.14159, 3.14159, 3.14159, 3.14159, 3.14159, 3.14159,
        3.14159, 3.14159]])

In [12]:
# linear sequence, similar to range()
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

In [13]:
# five values evenly-spaced beteen 0 and 10
np.linspace(0, 10, 5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [14]:
# 3x3 array of uniformly distributed random values between 0 and 1
np.random.random((3, 3))

array([[0.88002901, 0.40211093, 0.95274787],
       [0.17577771, 0.66513977, 0.82806628],
       [0.02690665, 0.32556801, 0.51454477]])

In [15]:
np.random.standard_normal((2, 4))

array([[ 0.19203831,  0.10139577,  1.34746388,  0.05372531],
       [ 0.736995  , -0.5704542 ,  0.13652502,  0.54624729]])

In [18]:
# 3x3 array of normally distributed random values with mean 0 and stdev 2
np.random.normal(100, 2, (3, 3))

array([[100.48968342,  98.73720152,  97.65764087],
       [ 99.16138029, 100.84005768, 100.37231338],
       [ 97.70451557, 100.82492292, 100.64800286]])

In [19]:
# 4x4 array of random integers in interval [0, 100)
np.random.randint(0, 100, (4, 4))

array([[39, 64, 23, 22],
       [70, 52, 75, 81],
       [36, 26, 27, 65],
       [53,  5, 73, 39]])

In [20]:
# identity matrix
np.eye(8, dtype='float32')

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]], dtype=float32)

## indexing/slicing

In [21]:
a = np.linspace(0, 10, 5)
a

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [22]:
a[3]

7.5

In [23]:
aa = np.random.random((5, 4))
aa

array([[0.23825205, 0.77844337, 0.69031609, 0.51563637],
       [0.5506819 , 0.40488487, 0.45003278, 0.94762492],
       [0.41653271, 0.10942384, 0.42877519, 0.91195054],
       [0.09349675, 0.49323687, 0.90320342, 0.28048338],
       [0.99867931, 0.41959517, 0.04135449, 0.34225642]])

In [24]:
aa[1, 1]

0.4048848664297481

In [25]:
aa[2:4] # extract row 2 and 3

array([[0.41653271, 0.10942384, 0.42877519, 0.91195054],
       [0.09349675, 0.49323687, 0.90320342, 0.28048338]])

In [26]:
aa[2:5, 1] # extract rows 2-4, element 1

array([0.10942384, 0.49323687, 0.41959517])

In [27]:
aa[::-1]

array([[0.99867931, 0.41959517, 0.04135449, 0.34225642],
       [0.09349675, 0.49323687, 0.90320342, 0.28048338],
       [0.41653271, 0.10942384, 0.42877519, 0.91195054],
       [0.5506819 , 0.40488487, 0.45003278, 0.94762492],
       [0.23825205, 0.77844337, 0.69031609, 0.51563637]])

In [28]:
aa[::-1, ::-1]

array([[0.34225642, 0.04135449, 0.41959517, 0.99867931],
       [0.28048338, 0.90320342, 0.49323687, 0.09349675],
       [0.91195054, 0.42877519, 0.10942384, 0.41653271],
       [0.94762492, 0.45003278, 0.40488487, 0.5506819 ],
       [0.51563637, 0.69031609, 0.77844337, 0.23825205]])

## Manipulating numpy arrays

In [29]:
a = np.random.standard_normal((2, 4))
b = np.random.standard_normal((2, 4))
a, b

(array([[-1.18130656, -0.01621406, -0.99367793, -0.66918042],
        [ 0.62520918,  0.47723536, -2.14988918, -1.89072274]]),
 array([[-0.75430286, -0.29504343,  1.37375351,  0.75609414],
        [ 1.16826555, -0.39396515,  0.88584679, -1.03599908]]))

In [30]:
np.vstack([a, b])

array([[-1.18130656, -0.01621406, -0.99367793, -0.66918042],
       [ 0.62520918,  0.47723536, -2.14988918, -1.89072274],
       [-0.75430286, -0.29504343,  1.37375351,  0.75609414],
       [ 1.16826555, -0.39396515,  0.88584679, -1.03599908]])

In [31]:
np.hstack([a, b])

array([[-1.18130656, -0.01621406, -0.99367793, -0.66918042, -0.75430286,
        -0.29504343,  1.37375351,  0.75609414],
       [ 0.62520918,  0.47723536, -2.14988918, -1.89072274,  1.16826555,
        -0.39396515,  0.88584679, -1.03599908]])

In [32]:
a.transpose()

array([[-1.18130656,  0.62520918],
       [-0.01621406,  0.47723536],
       [-0.99367793, -2.14988918],
       [-0.66918042, -1.89072274]])

## Saving/Loading a numpy array

In [33]:
np.save('/tmp/a.npy', a)
a1 = np.load('/tmp/a.npy')
a1

array([[-1.18130656, -0.01621406, -0.99367793, -0.66918042],
       [ 0.62520918,  0.47723536, -2.14988918, -1.89072274]])

## Performing math on numpy arrays

In [34]:
x = np.linspace(0, 10, 1000)
x

array([ 0.        ,  0.01001001,  0.02002002,  0.03003003,  0.04004004,
        0.05005005,  0.06006006,  0.07007007,  0.08008008,  0.09009009,
        0.1001001 ,  0.11011011,  0.12012012,  0.13013013,  0.14014014,
        0.15015015,  0.16016016,  0.17017017,  0.18018018,  0.19019019,
        0.2002002 ,  0.21021021,  0.22022022,  0.23023023,  0.24024024,
        0.25025025,  0.26026026,  0.27027027,  0.28028028,  0.29029029,
        0.3003003 ,  0.31031031,  0.32032032,  0.33033033,  0.34034034,
        0.35035035,  0.36036036,  0.37037037,  0.38038038,  0.39039039,
        0.4004004 ,  0.41041041,  0.42042042,  0.43043043,  0.44044044,
        0.45045045,  0.46046046,  0.47047047,  0.48048048,  0.49049049,
        0.5005005 ,  0.51051051,  0.52052052,  0.53053053,  0.54054054,
        0.55055055,  0.56056056,  0.57057057,  0.58058058,  0.59059059,
        0.6006006 ,  0.61061061,  0.62062062,  0.63063063,  0.64064064,
        0.65065065,  0.66066066,  0.67067067,  0.68068068,  0.69069069,
        0.7007007 ,  0.71071071,  0.72072072,  0.73073073,  0.74074074,
        0.75075075,  0.76076076,  0.77077077,  0.78078078,  0.79079079,
        0.8008008 ,  0.81081081,  0.82082082,  0.83083083,  0.84084084,
        0.85085085,  0.86086086,  0.87087087,  0.88088088,  0.89089089,
        0.9009009 ,  0.91091091,  0.92092092,  0.93093093,  0.94094094,
        0.95095095,  0.96096096,  0.97097097,  0.98098098,  0.99099099,
        1.001001  ,  1.01101101,  1.02102102,  1.03103103,  1.04104104,
        1.05105105,  1.06106106,  1.07107107,  1.08108108,  1.09109109,
        1.1011011 ,  1.11111111,  1.12112112,  1.13113113,  1.14114114,
        1.15115115,  1.16116116,  1.17117117,  1.18118118,  1.19119119,
        1.2012012 ,  1.21121121,  1.22122122,  1.23123123,  1.24124124,
        1.25125125,  1.26126126,  1.27127127,  1.28128128,  1.29129129,
        1.3013013 ,  1.31131131,  1.32132132,  1.33133133,  1.34134134,
        1.35135135,  1.36136136,  1.37137137,  1.38138138,  1.39139139,
        1.4014014 ,  1.41141141,  1.42142142,  1.43143143,  1.44144144,
        1.45145145,  1.46146146,  1.47147147,  1.48148148,  1.49149149,
        1.5015015 ,  1.51151151,  1.52152152,  1.53153153,  1.54154154,
        1.55155155,  1.56156156,  1.57157157,  1.58158158,  1.59159159,
        1.6016016 ,  1.61161161,  1.62162162,  1.63163163,  1.64164164,
        1.65165165,  1.66166166,  1.67167167,  1.68168168,  1.69169169,
        1.7017017 ,  1.71171171,  1.72172172,  1.73173173,  1.74174174,
        1.75175175,  1.76176176,  1.77177177,  1.78178178,  1.79179179,
        1.8018018 ,  1.81181181,  1.82182182,  1.83183183,  1.84184184,
        1.85185185,  1.86186186,  1.87187187,  1.88188188,  1.89189189,
        1.9019019 ,  1.91191191,  1.92192192,  1.93193193,  1.94194194,
        1.95195195,  1.96196196,  1.97197197,  1.98198198,  1.99199199,
        2.002002  ,  2.01201201,  2.02202202,  2.03203203,  2.04204204,
        2.05205205,  2.06206206,  2.07207207,  2.08208208,  2.09209209,
        2.1021021 ,  2.11211211,  2.12212212,  2.13213213,  2.14214214,
        2.15215215,  2.16216216,  2.17217217,  2.18218218,  2.19219219,
        2.2022022 ,  2.21221221,  2.22222222,  2.23223223,  2.24224224,
        2.25225225,  2.26226226,  2.27227227,  2.28228228,  2.29229229,
        2.3023023 ,  2.31231231,  2.32232232,  2.33233233,  2.34234234,
        2.35235235,  2.36236236,  2.37237237,  2.38238238,  2.39239239,
        2.4024024 ,  2.41241241,  2.42242242,  2.43243243,  2.44244244,
        2.45245245,  2.46246246,  2.47247247,  2.48248248,  2.49249249,
        2.5025025 ,  2.51251251,  2.52252252,  2.53253253,  2.54254254,
        2.55255255,  2.56256256,  2.57257257,  2.58258258,  2.59259259,
        2.6026026 ,  2.61261261,  2.62262262,  2.63263263,  2.64264264,
        2.65265265,  2.66266266,  2.67267267,  2.68268268,  2.69269269,
        2.7027027 ,  2.71271271,  2.72272272,  2.73273273,  2.74274274,
        2.75275275,  2.76276276,  2.77277277,  2.78278278,  2.79279279,
        2.8028028 ,  2.81281281,  2.82282282,  2.83283283,  2.84284284,
        2.85285285,  2.86286286,  2.87287287,  2.88288288,  2.89289289,
        2.9029029 ,  2.91291291,  2.92292292,  2.93293293,  2.94294294,
        2.95295295,  2.96296296,  2.97297297,  2.98298298,  2.99299299,
        3.003003  ,  3.01301301,  3.02302302,  3.03303303,  3.04304304,
        3.05305305,  3.06306306,  3.07307307,  3.08308308,  3.09309309,
        3.1031031 ,  3.11311311,  3.12312312,  3.13313313,  3.14314314,
        3.15315315,  3.16316316,  3.17317317,  3.18318318,  3.19319319,
        3.2032032 ,  3.21321321,  3.22322322,  3.23323323,  3.24324324,
        3.25325325,  3.26326326,  3.27327327,  3.28328328,  3.29329329,
        3.3033033 ,  3.31331331,  3.32332332,  3.33333333,  3.34334334,
        3.35335335,  3.36336336,  3.37337337,  3.38338338,  3.39339339,
        3.4034034 ,  3.41341341,  3.42342342,  3.43343343,  3.44344344,
        3.45345345,  3.46346346,  3.47347347,  3.48348348,  3.49349349,
        3.5035035 ,  3.51351351,  3.52352352,  3.53353353,  3.54354354,
        3.55355355,  3.56356356,  3.57357357,  3.58358358,  3.59359359,
        3.6036036 ,  3.61361361,  3.62362362,  3.63363363,  3.64364364,
        3.65365365,  3.66366366,  3.67367367,  3.68368368,  3.69369369,
        3.7037037 ,  3.71371371,  3.72372372,  3.73373373,  3.74374374,
        3.75375375,  3.76376376,  3.77377377,  3.78378378,  3.79379379,
        3.8038038 ,  3.81381381,  3.82382382,  3.83383383,  3.84384384,
        3.85385385,  3.86386386,  3.87387387,  3.88388388,  3.89389389,
        3.9039039 ,  3.91391391,  3.92392392,  3.93393393,  3.94394394,
        3.95395395,  3.96396396,  3.97397397,  3.98398398,  3.99399399,
        4.004004  ,  4.01401401,  4.02402402,  4.03403403,  4.04404404,
        4.05405405,  4.06406406,  4.07407407,  4.08408408,  4.09409409,
        4.1041041 ,  4.11411411,  4.12412412,  4.13413413,  4.14414414,
        4.15415415,  4.16416416,  4.17417417,  4.18418418,  4.19419419,
        4.2042042 ,  4.21421421,  4.22422422,  4.23423423,  4.24424424,
        4.25425425,  4.26426426,  4.27427427,  4.28428428,  4.29429429,
        4.3043043 ,  4.31431431,  4.32432432,  4.33433433,  4.34434434,
        4.35435435,  4.36436436,  4.37437437,  4.38438438,  4.39439439,
        4.4044044 ,  4.41441441,  4.42442442,  4.43443443,  4.44444444,
        4.45445445,  4.46446446,  4.47447447,  4.48448448,  4.49449449,
        4.5045045 ,  4.51451451,  4.52452452,  4.53453453,  4.54454454,
        4.55455455,  4.56456456,  4.57457457,  4.58458458,  4.59459459,
        4.6046046 ,  4.61461461,  4.62462462,  4.63463463,  4.64464464,
        4.65465465,  4.66466466,  4.67467467,  4.68468468,  4.69469469,
        4.7047047 ,  4.71471471,  4.72472472,  4.73473473,  4.74474474,
        4.75475475,  4.76476476,  4.77477477,  4.78478478,  4.79479479,
        4.8048048 ,  4.81481481,  4.82482482,  4.83483483,  4.84484484,
        4.85485485,  4.86486486,  4.87487487,  4.88488488,  4.89489489,
        4.9049049 ,  4.91491491,  4.92492492,  4.93493493,  4.94494494,
        4.95495495,  4.96496496,  4.97497497,  4.98498498,  4.99499499,
        5.00500501,  5.01501502,  5.02502503,  5.03503504,  5.04504505,
        5.05505506,  5.06506507,  5.07507508,  5.08508509,  5.0950951 ,
        5.10510511,  5.11511512,  5.12512513,  5.13513514,  5.14514515,
        5.15515516,  5.16516517,  5.17517518,  5.18518519,  5.1951952 ,
        5.20520521,  5.21521522,  5.22522523,  5.23523524,  5.24524525,
        5.25525526,  5.26526527,  5.27527528,  5.28528529,  5.2952953 ,
        5.30530531,  5.31531532,  5.32532533,  5.33533534,  5.34534535,
        5.35535536,  5.36536537,  5.37537538,  5.38538539,  5.3953954 ,
        5.40540541,  5.41541542,  5.42542543,  5.43543544,  5.44544545,
        5.45545546,  5.46546547,  5.47547548,  5.48548549,  5.4954955 ,
        5.50550551,  5.51551552,  5.52552553,  5.53553554,  5.54554555,
        5.55555556,  5.56556557,  5.57557558,  5.58558559,  5.5955956 ,
        5.60560561,  5.61561562,  5.62562563,  5.63563564,  5.64564565,
        5.65565566,  5.66566567,  5.67567568,  5.68568569,  5.6956957 ,
        5.70570571,  5.71571572,  5.72572573,  5.73573574,  5.74574575,
        5.75575576,  5.76576577,  5.77577578,  5.78578579,  5.7957958 ,
        5.80580581,  5.81581582,  5.82582583,  5.83583584,  5.84584585,
        5.85585586,  5.86586587,  5.87587588,  5.88588589,  5.8958959 ,
        5.90590591,  5.91591592,  5.92592593,  5.93593594,  5.94594595,
        5.95595596,  5.96596597,  5.97597598,  5.98598599,  5.995996  ,
        6.00600601,  6.01601602,  6.02602603,  6.03603604,  6.04604605,
        6.05605606,  6.06606607,  6.07607608,  6.08608609,  6.0960961 ,
        6.10610611,  6.11611612,  6.12612613,  6.13613614,  6.14614615,
        6.15615616,  6.16616617,  6.17617618,  6.18618619,  6.1961962 ,
        6.20620621,  6.21621622,  6.22622623,  6.23623624,  6.24624625,
        6.25625626,  6.26626627,  6.27627628,  6.28628629,  6.2962963 ,
        6.30630631,  6.31631632,  6.32632633,  6.33633634,  6.34634635,
        6.35635636,  6.36636637,  6.37637638,  6.38638639,  6.3963964 ,
        6.40640641,  6.41641642,  6.42642643,  6.43643644,  6.44644645,
        6.45645646,  6.46646647,  6.47647648,  6.48648649,  6.4964965 ,
        6.50650651,  6.51651652,  6.52652653,  6.53653654,  6.54654655,
        6.55655656,  6.56656657,  6.57657658,  6.58658659,  6.5965966 ,
        6.60660661,  6.61661662,  6.62662663,  6.63663664,  6.64664665,
        6.65665666,  6.66666667,  6.67667668,  6.68668669,  6.6966967 ,
        6.70670671,  6.71671672,  6.72672673,  6.73673674,  6.74674675,
        6.75675676,  6.76676677,  6.77677678,  6.78678679,  6.7967968 ,
        6.80680681,  6.81681682,  6.82682683,  6.83683684,  6.84684685,
        6.85685686,  6.86686687,  6.87687688,  6.88688689,  6.8968969 ,
        6.90690691,  6.91691692,  6.92692693,  6.93693694,  6.94694695,
        6.95695696,  6.96696697,  6.97697698,  6.98698699,  6.996997  ,
        7.00700701,  7.01701702,  7.02702703,  7.03703704,  7.04704705,
        7.05705706,  7.06706707,  7.07707708,  7.08708709,  7.0970971 ,
        7.10710711,  7.11711712,  7.12712713,  7.13713714,  7.14714715,
        7.15715716,  7.16716717,  7.17717718,  7.18718719,  7.1971972 ,
        7.20720721,  7.21721722,  7.22722723,  7.23723724,  7.24724725,
        7.25725726,  7.26726727,  7.27727728,  7.28728729,  7.2972973 ,
        7.30730731,  7.31731732,  7.32732733,  7.33733734,  7.34734735,
        7.35735736,  7.36736737,  7.37737738,  7.38738739,  7.3973974 ,
        7.40740741,  7.41741742,  7.42742743,  7.43743744,  7.44744745,
        7.45745746,  7.46746747,  7.47747748,  7.48748749,  7.4974975 ,
        7.50750751,  7.51751752,  7.52752753,  7.53753754,  7.54754755,
        7.55755756,  7.56756757,  7.57757758,  7.58758759,  7.5975976 ,
        7.60760761,  7.61761762,  7.62762763,  7.63763764,  7.64764765,
        7.65765766,  7.66766767,  7.67767768,  7.68768769,  7.6976977 ,
        7.70770771,  7.71771772,  7.72772773,  7.73773774,  7.74774775,
        7.75775776,  7.76776777,  7.77777778,  7.78778779,  7.7977978 ,
        7.80780781,  7.81781782,  7.82782783,  7.83783784,  7.84784785,
        7.85785786,  7.86786787,  7.87787788,  7.88788789,  7.8978979 ,
        7.90790791,  7.91791792,  7.92792793,  7.93793794,  7.94794795,
        7.95795796,  7.96796797,  7.97797798,  7.98798799,  7.997998  ,
        8.00800801,  8.01801802,  8.02802803,  8.03803804,  8.04804805,
        8.05805806,  8.06806807,  8.07807808,  8.08808809,  8.0980981 ,
        8.10810811,  8.11811812,  8.12812813,  8.13813814,  8.14814815,
        8.15815816,  8.16816817,  8.17817818,  8.18818819,  8.1981982 ,
        8.20820821,  8.21821822,  8.22822823,  8.23823824,  8.24824825,
        8.25825826,  8.26826827,  8.27827828,  8.28828829,  8.2982983 ,
        8.30830831,  8.31831832,  8.32832833,  8.33833834,  8.34834835,
        8.35835836,  8.36836837,  8.37837838,  8.38838839,  8.3983984 ,
        8.40840841,  8.41841842,  8.42842843,  8.43843844,  8.44844845,
        8.45845846,  8.46846847,  8.47847848,  8.48848849,  8.4984985 ,
        8.50850851,  8.51851852,  8.52852853,  8.53853854,  8.54854855,
        8.55855856,  8.56856857,  8.57857858,  8.58858859,  8.5985986 ,
        8.60860861,  8.61861862,  8.62862863,  8.63863864,  8.64864865,
        8.65865866,  8.66866867,  8.67867868,  8.68868869,  8.6986987 ,
        8.70870871,  8.71871872,  8.72872873,  8.73873874,  8.74874875,
        8.75875876,  8.76876877,  8.77877878,  8.78878879,  8.7987988 ,
        8.80880881,  8.81881882,  8.82882883,  8.83883884,  8.84884885,
        8.85885886,  8.86886887,  8.87887888,  8.88888889,  8.8988989 ,
        8.90890891,  8.91891892,  8.92892893,  8.93893894,  8.94894895,
        8.95895896,  8.96896897,  8.97897898,  8.98898899,  8.998999  ,
        9.00900901,  9.01901902,  9.02902903,  9.03903904,  9.04904905,
        9.05905906,  9.06906907,  9.07907908,  9.08908909,  9.0990991 ,
        9.10910911,  9.11911912,  9.12912913,  9.13913914,  9.14914915,
        9.15915916,  9.16916917,  9.17917918,  9.18918919,  9.1991992 ,
        9.20920921,  9.21921922,  9.22922923,  9.23923924,  9.24924925,
        9.25925926,  9.26926927,  9.27927928,  9.28928929,  9.2992993 ,
        9.30930931,  9.31931932,  9.32932933,  9.33933934,  9.34934935,
        9.35935936,  9.36936937,  9.37937938,  9.38938939,  9.3993994 ,
        9.40940941,  9.41941942,  9.42942943,  9.43943944,  9.44944945,
        9.45945946,  9.46946947,  9.47947948,  9.48948949,  9.4994995 ,
        9.50950951,  9.51951952,  9.52952953,  9.53953954,  9.54954955,
        9.55955956,  9.56956957,  9.57957958,  9.58958959,  9.5995996 ,
        9.60960961,  9.61961962,  9.62962963,  9.63963964,  9.64964965,
        9.65965966,  9.66966967,  9.67967968,  9.68968969,  9.6996997 ,
        9.70970971,  9.71971972,  9.72972973,  9.73973974,  9.74974975,
        9.75975976,  9.76976977,  9.77977978,  9.78978979,  9.7997998 ,
        9.80980981,  9.81981982,  9.82982983,  9.83983984,  9.84984985,
        9.85985986,  9.86986987,  9.87987988,  9.88988989,  9.8998999 ,
        9.90990991,  9.91991992,  9.92992993,  9.93993994,  9.94994995,
        9.95995996,  9.96996997,  9.97997998,  9.98998999, 10.        ])

In [35]:
%time sinx = np.sin(x)
# "universal" function which operates on entire array!
sinx

CPU times: user 191 Âµs, sys: 90 Âµs, total: 281 Âµs
Wall time: 280 Âµs

array([ 0.        ,  0.01000984,  0.02001868,  0.03002552,  0.04002934,
        0.05002916,  0.06002396,  0.07001275,  0.07999452,  0.08996827,
        0.09993302,  0.10988774,  0.11983146,  0.12976317,  0.13968188,
        0.14958659,  0.15947632,  0.16935006,  0.17920684,  0.18904566,
        0.19886554,  0.20866549,  0.21844453,  0.22820168,  0.23793597,
        0.24764642,  0.25733206,  0.26699191,  0.276625  ,  0.28623038,
        0.29580708,  0.30535414,  0.3148706 ,  0.32435552,  0.33380793,
        0.3432269 ,  0.35261147,  0.36196071,  0.37127369,  0.38054946,
        0.3897871 ,  0.39898569,  0.4081443 ,  0.41726201,  0.42633791,
        0.4353711 ,  0.44436066,  0.45330569,  0.46220531,  0.47105861,
        0.47986471,  0.48862273,  0.49733179,  0.50599102,  0.51459954,
        0.52315651,  0.53166105,  0.54011232,  0.54850948,  0.55685167,
        0.56513807,  0.57336784,  0.58154016,  0.58965421,  0.59770917,
        0.60570425,  0.61363863,  0.62151153,  0.62932216,  0.63706972,
        0.64475345,  0.65237258,  0.65992634,  0.66741398,  0.67483474,
        0.68218788,  0.68947267,  0.69668838,  0.70383427,  0.71090964,
        0.71791378,  0.72484599,  0.73170556,  0.73849182,  0.74520409,
        0.75184168,  0.75840394,  0.76489021,  0.77129983,  0.77763218,
        0.7838866 ,  0.79006248,  0.7961592 ,  0.80217614,  0.8081127 ,
        0.81396829,  0.81974232,  0.82543421,  0.8310434 ,  0.83656931,
        0.84201141,  0.84736913,  0.85264195,  0.85782933,  0.86293076,
        0.86794572,  0.87287371,  0.87771425,  0.88246684,  0.887131  ,
        0.89170627,  0.8961922 ,  0.90058833,  0.90489422,  0.90910944,
        0.91323357,  0.91726619,  0.9212069 ,  0.92505531,  0.92881103,
        0.93247368,  0.9360429 ,  0.93951832,  0.94289961,  0.94618642,
        0.94937842,  0.9524753 ,  0.95547674,  0.95838244,  0.96119211,
        0.96390547,  0.96652224,  0.96904217,  0.97146501,  0.9737905 ,
        0.97601842,  0.97814855,  0.98018066,  0.98211456,  0.98395005,
        0.98568695,  0.98732509,  0.9888643 ,  0.99030442,  0.99164532,
        0.99288685,  0.9940289 ,  0.99507134,  0.99601408,  0.99685702,
        0.99760007,  0.99824317,  0.99878624,  0.99922924,  0.99957211,
        0.99981483,  0.99995736,  0.9999997 ,  0.99994184,  0.99978379,
        0.99952556,  0.99916717,  0.99870867,  0.9981501 ,  0.99749152,
        0.99673299,  0.99587459,  0.9949164 ,  0.99385852,  0.99270105,
        0.99144412,  0.99008785,  0.98863237,  0.98707782,  0.98542438,
        0.98367219,  0.98182145,  0.97987232,  0.97782501,  0.97567973,
        0.97343668,  0.97109609,  0.9686582 ,  0.96612325,  0.9634915 ,
        0.9607632 ,  0.95793864,  0.95501809,  0.95200185,  0.94889022,
        0.94568351,  0.94238205,  0.93898615,  0.93549618,  0.93191246,
        0.92823537,  0.92446527,  0.92060254,  0.91664757,  0.91260074,
        0.90846248,  0.90423319,  0.89991329,  0.89550322,  0.89100343,
        0.88641436,  0.88173646,  0.87697022,  0.87211611,  0.86717461,
        0.86214622,  0.85703145,  0.8518308 ,  0.84654479,  0.84117397,
        0.83571886,  0.83018001,  0.82455797,  0.81885332,  0.81306662,
        0.80719845,  0.80124939,  0.79522006,  0.78911104,  0.78292295,
        0.77665642,  0.77031206,  0.76389052,  0.75739244,  0.75081847,
        0.74416927,  0.7374455 ,  0.73064784,  0.72377697,  0.71683358,
        0.70981836,  0.70273201,  0.69557526,  0.68834881,  0.68105338,
        0.67368972,  0.66625855,  0.65876062,  0.65119668,  0.6435675 ,
        0.63587383,  0.62811645,  0.62029613,  0.61241365,  0.60446981,
        0.59646541,  0.58840124,  0.58027811,  0.57209684,  0.56385824,
        0.55556315,  0.54721239,  0.5388068 ,  0.53034722,  0.5218345 ,
        0.51326949,  0.50465305,  0.49598605,  0.48726935,  0.47850382,
        0.46969035,  0.46082982,  0.45192311,  0.44297112,  0.43397474,
        0.42493488,  0.41585245,  0.40672834,  0.39756348,  0.38835878,
        0.37911517,  0.36983358,  0.36051492,  0.35116015,  0.34177018,
        0.33234597,  0.32288847,  0.3133986 ,  0.30387734,  0.29432562,
        0.28474442,  0.27513468,  0.26549738,  0.25583347,  0.24614393,
        0.23642973,  0.22669183,  0.21693122,  0.20714888,  0.19734578,
        0.1875229 ,  0.17768124,  0.16782177,  0.15794548,  0.14805337,
        0.13814643,  0.12822564,  0.118292  ,  0.10834651,  0.09839017,
        0.08842397,  0.0784489 ,  0.06846598,  0.05847619,  0.04848055,
        0.03848005,  0.02847569,  0.01846848,  0.00845942, -0.00155049,
       -0.01156024, -0.02156884, -0.03157527, -0.04157854, -0.05157764,
       -0.06157158, -0.07155935, -0.08153994, -0.09151237, -0.10147562,
       -0.11142871, -0.12137064, -0.1313004 , -0.141217  , -0.15111946,
       -0.16100677, -0.17087795, -0.18073201, -0.19056796, -0.20038482,
       -0.21018159, -0.21995731, -0.22971099, -0.23944165, -0.24914832,
       -0.25883002, -0.26848579, -0.27811466, -0.28771566, -0.29728783,
       -0.30683021, -0.31634185, -0.32582179, -0.33526908, -0.34468278,
       -0.35406195, -0.36340563, -0.37271291, -0.38198284, -0.39121449,
       -0.40040694, -0.40955928, -0.41867057, -0.42773992, -0.4367664 ,
       -0.44574912, -0.45468718, -0.46357968, -0.47242573, -0.48122444,
       -0.48997494, -0.49867633, -0.50732776, -0.51592836, -0.52447726,
       -0.53297361, -0.54141656, -0.54980525, -0.55813886, -0.56641654,
       -0.57463746, -0.58280081, -0.59090576, -0.5989515 , -0.60693723,
       -0.61486214, -0.62272545, -0.63052635, -0.63826408, -0.64593786,
       -0.65354691, -0.66109048, -0.66856781, -0.67597814, -0.68332075,
       -0.69059488, -0.69779982, -0.70493484, -0.71199922, -0.71899227,
       -0.72591327, -0.73276153, -0.73953637, -0.74623711, -0.75286308,
       -0.75941361, -0.76588805, -0.77228575, -0.77860606, -0.78484836,
       -0.79101202, -0.79709642, -0.80310095, -0.80902501, -0.814868  ,
       -0.82062935, -0.82630847, -0.83190479, -0.83741776, -0.84284682,
       -0.84819143, -0.85345104, -0.85862515, -0.86371322, -0.86871474,
       -0.87362922, -0.87845616, -0.88319509, -0.88784551, -0.89240698,
       -0.89687902, -0.9012612 , -0.90555308, -0.90975421, -0.91386419,
       -0.91788261, -0.92180905, -0.92564312, -0.92938445, -0.93303265,
       -0.93658737, -0.94004823, -0.94341491, -0.94668706, -0.94986435,
       -0.95294646, -0.95593309, -0.95882393, -0.9616187 , -0.96431712,
       -0.96691891, -0.96942382, -0.97183159, -0.97414198, -0.97635477,
       -0.97846973, -0.98048664, -0.98240531, -0.98422555, -0.98594716,
       -0.98756998, -0.98909385, -0.99051862, -0.99184413, -0.99307026,
       -0.99419689, -0.99522389, -0.99615118, -0.99697865, -0.99770623,
       -0.99833384, -0.99886141, -0.9992889 , -0.99961626, -0.99984346,
       -0.99997048, -0.9999973 , -0.99992392, -0.99975034, -0.9994766 ,
       -0.9991027 , -0.9986287 , -0.99805464, -0.99738057, -0.99660656,
       -0.9957327 , -0.99475906, -0.99368575, -0.99251287, -0.99124054,
       -0.98986889, -0.98839806, -0.98682819, -0.98515943, -0.98339197,
       -0.98152597, -0.97956163, -0.97749913, -0.97533868, -0.97308051,
       -0.97072484, -0.9682719 , -0.96572194, -0.96307521, -0.96033199,
       -0.95749254, -0.95455715, -0.95152611, -0.94839974, -0.94517833,
       -0.94186221, -0.93845173, -0.93494721, -0.93134901, -0.92765748,
       -0.92387301, -0.91999597, -0.91602674, -0.91196573, -0.90781333,
       -0.90356998, -0.89923609, -0.8948121 , -0.89029844, -0.88569558,
       -0.88100397, -0.87622409, -0.87135641, -0.86640142, -0.86135962,
       -0.85623151, -0.8510176 , -0.84571842, -0.84033451, -0.83486639,
       -0.82931462, -0.82367975, -0.81796235, -0.81216299, -0.80628225,
       -0.80032073, -0.79427901, -0.7881577 , -0.78195742, -0.77567879,
       -0.76932244, -0.762889  , -0.75637913, -0.74979346, -0.74313266,
       -0.7363974 , -0.72958836, -0.72270621, -0.71575164, -0.70872536,
       -0.70162807, -0.69446047, -0.68722329, -0.67991724, -0.67254307,
       -0.66510151, -0.65759331, -0.65001922, -0.64238   , -0.63467641,
       -0.62690923, -0.61907923, -0.6111872 , -0.60323392, -0.59522021,
       -0.58714685, -0.57901466, -0.57082446, -0.56257706, -0.55427329,
       -0.54591398, -0.53749997, -0.5290321 , -0.52051123, -0.5119382 ,
       -0.50331387, -0.49463911, -0.48591479, -0.47714179, -0.46832097,
       -0.45945322, -0.45053944, -0.44158052, -0.43257735, -0.42353083,
       -0.41444188, -0.4053114 , -0.39614031, -0.38692953, -0.37767997,
       -0.36839258, -0.35906827, -0.34970798, -0.34031265, -0.33088322,
       -0.32142064, -0.31192585, -0.3023998 , -0.29284346, -0.28325777,
       -0.2736437 , -0.26400222, -0.25433428, -0.24464085, -0.23492291,
       -0.22518144, -0.2154174 , -0.20563177, -0.19582554, -0.18599969,
       -0.1761552 , -0.16629307, -0.15641427, -0.14651979, -0.13661064,
       -0.12668779, -0.11675226, -0.10680502, -0.09684708, -0.08687944,
       -0.0769031 , -0.06691904, -0.05692829, -0.04693183, -0.03693066,
       -0.0269258 , -0.01691823, -0.00690898,  0.00310097,  0.01311061,
        0.02311894,  0.03312495,  0.04312764,  0.05312601,  0.06311905,
        0.07310577,  0.08308517,  0.09305624,  0.10301799,  0.11296941,
        0.12290952,  0.13283731,  0.14275178,  0.15265196,  0.16253684,
        0.17240543,  0.18225675,  0.19208981,  0.20190362,  0.2116972 ,
        0.22146956,  0.23121974,  0.24094675,  0.25064961,  0.26032736,
        0.26997903,  0.27960364,  0.28920024,  0.29876786,  0.30830554,
        0.31781233,  0.32728728,  0.33672943,  0.34613784,  0.35551157,
        0.36484968,  0.37415123,  0.38341529,  0.39264093,  0.40182723,
        0.41097327,  0.42007813,  0.42914089,  0.43816066,  0.44713652,
        0.45606758,  0.46495294,  0.47379172,  0.48258302,  0.49132596,
        0.50001968,  0.50866329,  0.51725594,  0.52579676,  0.53428489,
        0.54271949,  0.5510997 ,  0.5594247 ,  0.56769364,  0.5759057 ,
        0.58406006,  0.59215589,  0.60019239,  0.60816875,  0.61608417,
        0.62393786,  0.63172904,  0.63945691,  0.64712071,  0.65471967,
        0.66225303,  0.66972002,  0.67711992,  0.68445196,  0.69171543,
        0.69890958,  0.70603371,  0.71308709,  0.72006902,  0.7269788 ,
        0.73381574,  0.74057914,  0.74726835,  0.75388267,  0.76042146,
        0.76688406,  0.77326981,  0.77957808,  0.78580824,  0.79195966,
        0.79803173,  0.80402383,  0.80993537,  0.81576576,  0.82151441,
        0.82718074,  0.83276419,  0.8382642 ,  0.84368021,  0.84901169,
        0.85425809,  0.8594189 ,  0.8644936 ,  0.86948167,  0.87438263,
        0.87919597,  0.88392121,  0.88855789,  0.89310553,  0.89756369,
        0.90193191,  0.90620976,  0.9103968 ,  0.91449263,  0.91849682,
        0.92240898,  0.92622871,  0.92995564,  0.93358938,  0.93712958,
        0.94057589,  0.94392794,  0.94718542,  0.95034798,  0.95341533,
        0.95638714,  0.95926312,  0.96204298,  0.96472645,  0.96731325,
        0.96980313,  0.97219584,  0.97449113,  0.97668877,  0.97878856,
        0.98079027,  0.9826937 ,  0.98449867,  0.986205  ,  0.9878125 ,
        0.98932103,  0.99073043,  0.99204056,  0.99325128,  0.99436249,
        0.99537405,  0.99628589,  0.99709789,  0.99780999,  0.9984221 ,
        0.99893418,  0.99934616,  0.99965801,  0.99986969,  0.99998119,
        0.99999249,  0.99990359,  0.9997145 ,  0.99942524,  0.99903584,
        0.99854633,  0.99795677,  0.99726722,  0.99647774,  0.99558841,
        0.99459933,  0.99351059,  0.9923223 ,  0.99103458,  0.98964756,
        0.98816137,  0.98657617,  0.98489212,  0.98310938,  0.98122814,
        0.97924858,  0.97717089,  0.9749953 ,  0.97272201,  0.97035125,
        0.96788327,  0.9653183 ,  0.96265661,  0.95989847,  0.95704414,
        0.95409391,  0.95104809,  0.94790697,  0.94467087,  0.94134012,
        0.93791504,  0.93439599,  0.93078331,  0.92707737,  0.92327853,
        0.91938718,  0.91540371,  0.91132852,  0.90716201,  0.9029046 ,
        0.89855673,  0.89411881,  0.88959131,  0.88497468,  0.88026936,
        0.87547585,  0.87059461,  0.86562614,  0.86057094,  0.85542951,
        0.85020236,  0.84489002,  0.83949303,  0.83401192,  0.82844724,
        0.82279955,  0.81706941,  0.81125741,  0.80536412,  0.79939013,
        0.79333605,  0.78720247,  0.78099002,  0.77469931,  0.76833097,
        0.76188565,  0.75536399,  0.74876664,  0.74209427,  0.73534754,
        0.72852712,  0.72163371,  0.71466799,  0.70763067,  0.70052243,
        0.69334401,  0.68609611,  0.67877947,  0.67139481,  0.66394288,
        0.65642443,  0.6488402 ,  0.64119095,  0.63347746,  0.6257005 ,
        0.61786084,  0.60995927,  0.60199658,  0.59397358,  0.58589106,
        0.57774983,  0.56955071,  0.56129452,  0.5529821 ,  0.54461426,
        0.53619185,  0.52771572,  0.51918671,  0.51060568,  0.50197348,
        0.49329099,  0.48455907,  0.4757786 ,  0.46695046,  0.45807552,
        0.44915469,  0.44018886,  0.43117891,  0.42212577,  0.41303032,
        0.40389349,  0.39471619,  0.38549934,  0.37624387,  0.36695069,
        0.35762075,  0.34825497,  0.3388543 ,  0.32941967,  0.31995204,
        0.31045234,  0.30092154,  0.29136059,  0.28177045,  0.27215207,
        0.26250642,  0.25283447,  0.24313718,  0.23341553,  0.2236705 ,
        0.21390305,  0.20411417,  0.19430484,  0.18447604,  0.17462875,
        0.16476397,  0.15488267,  0.14498586,  0.13507452,  0.12514965,
        0.11521223,  0.10526327,  0.09530377,  0.08533471,  0.07535711,
        0.06537195,  0.05538024,  0.04538299,  0.03538119,  0.02537584,
        0.01536795,  0.00535852, -0.00465145, -0.01466095, -0.02466899,
       -0.03467455, -0.04467663, -0.05467424, -0.06466637, -0.07465203,
       -0.0846302 , -0.09459989, -0.1045601 , -0.11450984, -0.1244481 ,
       -0.13437389, -0.14428622, -0.15418409, -0.16406652, -0.1739325 ,
       -0.18378105, -0.19361119, -0.20342193, -0.21321229, -0.22298128,
       -0.23272793, -0.24245127, -0.2521503 , -0.26182408, -0.27147162,
       -0.28109195, -0.29068412, -0.30024717, -0.30978013, -0.31928205,
       -0.32875198, -0.33818897, -0.34759207, -0.35696034, -0.36629285,
       -0.37558865, -0.38484682, -0.39406643, -0.40324656, -0.41238627,
       -0.42148467, -0.43054084, -0.43955386, -0.44852284, -0.45744688,
       -0.46632509, -0.47515657, -0.48394043, -0.49267581, -0.50136182,
       -0.5099976 , -0.51858227, -0.52711499, -0.53559488, -0.54402111])

In [36]:
%%timeit
for i in range(0, 1000):
    sinx[i] = np.sin(x[i])

1.79 ms Â± 136 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [37]:
cosx = np.cos(x)
y = sinx * cosx
y

array([ 0.        ,  0.01000934,  0.02001467,  0.03001198,  0.03999726,
        0.04996651,  0.05991573,  0.06984094,  0.07973816,  0.08960342,
        0.09943277,  0.10922227,  0.11896799,  0.12866603,  0.1383125 ,
        0.14790354,  0.1574353 ,  0.16690397,  0.17630574,  0.18563684,
        0.19489355,  0.20407215,  0.21316896,  0.22218033,  0.23110265,
        0.23993235,  0.24866589,  0.25729977,  0.26583053,  0.27425474,
        0.28256903,  0.29077008,  0.29885459,  0.30681932,  0.31466108,
        0.32237673,  0.32996317,  0.33741737,  0.34473634,  0.35191714,
        0.35895689,  0.36585278,  0.37260204,  0.37920197,  0.38564992,
        0.3919433 ,  0.3980796 ,  0.40405635,  0.40987116,  0.4155217 ,
        0.4210057 ,  0.42632097,  0.43146538,  0.43643686,  0.44123342,
        0.44585314,  0.45029416,  0.45455472,  0.45863309,  0.46252765,
        0.46623684,  0.46975916,  0.47309321,  0.47623765,  0.47919122,
        0.48195273,  0.48452109,  0.48689525,  0.48907427,  0.49105728,
        0.49284348,  0.49443215,  0.49582266,  0.49701445,  0.49800704,
        0.49880004,  0.49939312,  0.49978605,  0.49997868,  0.49997092,
        0.49976278,  0.49935434,  0.49874576,  0.49793729,  0.49692926,
        0.49572206,  0.49431618,  0.49271219,  0.49091072,  0.48891251,
        0.48671834,  0.4843291 ,  0.48174575,  0.47896932,  0.47600093,
        0.47284176,  0.46949308,  0.46595623,  0.46223264,  0.45832378,
        0.45423124,  0.44995665,  0.44550171,  0.44086823,  0.43605805,
        0.43107311,  0.4259154 ,  0.42058698,  0.41509   ,  0.40942666,
        0.40359922,  0.39761003,  0.39146148,  0.38515603,  0.37869622,
        0.37208463,  0.36532392,  0.35841679,  0.35136601,  0.3441744 ,
        0.33684486,  0.32938031,  0.32178375,  0.31405822,  0.30620683,
        0.2982327 ,  0.29013905,  0.28192912,  0.27360619,  0.26517361,
        0.25663474,  0.24799302,  0.23925191,  0.23041491,  0.22148556,
        0.21246744,  0.20336417,  0.19417939,  0.18491679,  0.17558007,
        0.16617299,  0.1566993 ,  0.14716281,  0.13756734,  0.12791674,
        0.11821486,  0.10846561,  0.09867289,  0.08884062,  0.07897274,
        0.06907321,  0.059146  ,  0.04919508,  0.03922445,  0.0292381 ,
        0.01924002,  0.00923424, -0.00077524, -0.01078442, -0.02078927,
       -0.03078579, -0.04076997, -0.05073781, -0.06068532, -0.0706085 ,
       -0.08050339, -0.09036601, -0.10019241, -0.10997866, -0.11972082,
       -0.12941501, -0.13905733, -0.14864391, -0.15817092, -0.16763454,
       -0.17703097, -0.18635645, -0.19560724, -0.20477964, -0.21386996,
       -0.22287456, -0.23178984, -0.24061222, -0.24933817, -0.25796418,
       -0.26648681, -0.27490263, -0.28320827, -0.2914004 , -0.29947575,
       -0.30743107, -0.31526318, -0.32296893, -0.33054524, -0.33798907,
       -0.34529744, -0.35246742, -0.35949613, -0.36638077, -0.37311856,
       -0.37970681, -0.38614287, -0.39242418, -0.39854821, -0.4045125 ,
       -0.41031468, -0.4159524 , -0.42142341, -0.42672552, -0.43185661,
       -0.43681461, -0.44159754, -0.44620349, -0.4506306 , -0.45487711,
       -0.4589413 , -0.46282156, -0.46651633, -0.47002412, -0.47334353,
       -0.47647323, -0.47941196, -0.48215856, -0.48471191, -0.48707099,
       -0.48923486, -0.49120266, -0.49297358, -0.49454693, -0.49592206,
       -0.49709844, -0.49807559, -0.49885311, -0.49943071, -0.49980813,
       -0.49998524, -0.49996196, -0.4997383 , -0.49931435, -0.49869028,
       -0.49786635, -0.49684287, -0.49562027, -0.49419903, -0.49257972,
       -0.49076299, -0.48874956, -0.48654026, -0.48413595, -0.48153761,
       -0.47874627, -0.47576306, -0.47258916, -0.46922586, -0.4656745 ,
       -0.46193651, -0.45801337, -0.45390667, -0.44961804, -0.44514922,
       -0.44050199, -0.4356782 , -0.43067981, -0.4255088 , -0.42016725,
       -0.41465731, -0.40898118, -0.40314113, -0.3971395 , -0.39097871,
       -0.38466122, -0.37818956, -0.37156633, -0.36479418, -0.35787582,
       -0.35081403, -0.34361164, -0.33627154, -0.32879666, -0.32119   ,
       -0.31345461, -0.3055936 , -0.2976101 , -0.28950733, -0.28128853,
       -0.27295699, -0.26451605, -0.2559691 , -0.24731956, -0.23857089,
       -0.22972661, -0.22079026, -0.21176542, -0.2026557 , -0.19346476,
       -0.18419629, -0.17485399, -0.16544161, -0.15596292, -0.14642173,
       -0.13682185, -0.12716714, -0.11746146, -0.1077087 , -0.09791277,
       -0.0880776 , -0.07820713, -0.06830532, -0.05837613, -0.04842354,
       -0.03845155, -0.02846414, -0.01846533, -0.00845912,  0.00155049,
        0.01155947,  0.02156382,  0.03155953,  0.04154258,  0.05150899,
        0.06145476,  0.07137589,  0.08126842,  0.09112838,  0.10095181,
        0.11073478,  0.12047337,  0.13016368,  0.13980182,  0.14938393,
        0.15890617,  0.16836472,  0.17775579,  0.18707562,  0.19632047,
        0.20548663,  0.21457045,  0.22356826,  0.23247647,  0.24129151,
        0.25000984,  0.25862797,  0.26714244,  0.27554985,  0.28384682,
        0.29203003,  0.3000962 ,  0.30804209,  0.31586452,  0.32356035,
        0.33112651,  0.33855996,  0.34585771,  0.35301685,  0.36003451,
        0.36690787,  0.37363417,  0.38021073,  0.3866349 ,  0.39290412,
        0.39901586,  0.40496769,  0.4107572 ,  0.41638209,  0.4218401 ,
        0.42712905,  0.4322468 ,  0.43719131,  0.44196061,  0.44655277,
        0.45096595,  0.4551984 ,  0.45924841,  0.46311436,  0.46679469,
        0.47028794,  0.47359271,  0.47670766,  0.47963156,  0.48236322,
        0.48490157,  0.48724556,  0.48939428,  0.49134685,  0.4931025 ,
        0.49466052,  0.49602028,  0.49718124,  0.49814294,  0.49890499,
        0.49946709,  0.499829  ,  0.49999059,  0.49995179,  0.49971262,
        0.49927317,  0.49863361,  0.49779421,  0.49675529,  0.49551729,
        0.49408069,  0.49244606,  0.49061407,  0.48858545,  0.486361  ,
        0.48394163,  0.48132831,  0.47852207,  0.47552404,  0.47233544,
        0.46895752,  0.46539165,  0.46163926,  0.45770185,  0.453581  ,
        0.44927836,  0.44479566,  0.44013468,  0.43529731,  0.43028547,
        0.42510118,  0.41974651,  0.41422362,  0.40853471,  0.40268206,
        0.39666802,  0.39049501,  0.38416549,  0.37768199,  0.37104713,
        0.36426356,  0.357334  ,  0.35026122,  0.34304806,  0.33569741,
        0.32821221,  0.32059548,  0.31285025,  0.30497964,  0.29698679,
        0.28887491,  0.28064726,  0.27230713,  0.26385786,  0.25530284,
        0.2466455 ,  0.2378893 ,  0.22903776,  0.22009443,  0.21106288,
        0.20194675,  0.19274967,  0.18347534,  0.17412748,  0.16470983,
        0.15522617,  0.1456803 ,  0.13607603,  0.12641723,  0.11670777,
        0.10695153,  0.09715242,  0.08731437,  0.07744134,  0.06753726,
        0.05760612,  0.04765188,  0.03767855,  0.02769012,  0.01769059,
        0.00768397, -0.00232573, -0.01233449, -0.02233832, -0.03233319,
       -0.0423151 , -0.05228005, -0.06222405, -0.07214311, -0.08203326,
       -0.09189053, -0.10171097, -0.11149064, -0.12122563, -0.13091204,
       -0.14054598, -0.15012358, -0.15964103, -0.16909448, -0.17848017,
       -0.18779433, -0.19703322, -0.20619314, -0.21527042, -0.22426142,
       -0.23316254, -0.24197022, -0.25068091, -0.25929114, -0.26779744,
       -0.27619641, -0.28448469, -0.29265895, -0.30071592, -0.30865236,
       -0.3164651 , -0.324151  , -0.33170699, -0.33913003, -0.34641716,
       -0.35356544, -0.36057202, -0.36743409, -0.37414889, -0.38071374,
       -0.387126  , -0.39338311, -0.39948256, -0.4054219 , -0.41119874,
       -0.41681079, -0.42225578, -0.42753154, -0.43263595, -0.43756696,
       -0.44232261, -0.44690097, -0.45130022, -0.4555186 , -0.45955441,
       -0.46340604, -0.46707194, -0.47055064, -0.47384075, -0.47694095,
       -0.47985   , -0.48256673, -0.48509006, -0.48741896, -0.48955252,
       -0.49148987, -0.49323023, -0.49477291, -0.4961173 , -0.49726285,
       -0.4982091 , -0.49895567, -0.49950227, -0.49984868, -0.49999475,
       -0.49994043, -0.49968574, -0.49923078, -0.49857574, -0.49772087,
       -0.49666652, -0.49541312, -0.49396116, -0.49231122, -0.49046397,
       -0.48842016, -0.48618058, -0.48374616, -0.48111785, -0.47829672,
       -0.47528389, -0.47208057, -0.46868805, -0.46510769, -0.46134091,
       -0.45738924, -0.45325425, -0.4489376 , -0.44444102, -0.43976632,
       -0.43491536, -0.4298901 , -0.42469254, -0.41932476, -0.41378893,
       -0.40808726, -0.40222203, -0.39619559, -0.39001036, -0.38366883,
       -0.37717352, -0.37052704, -0.36373207, -0.35679131, -0.34970756,
       -0.34248365, -0.33512247, -0.32762698, -0.32000018, -0.31224513,
       -0.30436494, -0.29636276, -0.2882418 , -0.28000532, -0.27165662,
       -0.26319903, -0.25463597, -0.24597084, -0.23720714, -0.22834836,
       -0.21939807, -0.21035984, -0.2012373 , -0.19203412, -0.18275396,
       -0.17340056, -0.16397766, -0.15448905, -0.14493851, -0.13532989,
       -0.12566703, -0.1159538 , -0.1061941 , -0.09639183, -0.08655094,
       -0.07667535, -0.06676904, -0.05683596, -0.04688011, -0.03690547,
       -0.02691603, -0.01691581, -0.00690881,  0.00310096,  0.01310949,
        0.02311276,  0.03310677,  0.04308751,  0.05305098,  0.06299319,
        0.07291016,  0.0827979 ,  0.09265246,  0.10246988,  0.11224623,
        0.1219776 ,  0.13166008,  0.14128979,  0.15086288,  0.1603755 ,
        0.16982385,  0.17920413,  0.18851259,  0.19774549,  0.20689914,
        0.21596987,  0.22495404,  0.23384806,  0.24264834,  0.25135138,
        0.25995368,  0.26845179,  0.27684231,  0.28512188,  0.29328717,
        0.30133492,  0.30926189,  0.31706492,  0.32474087,  0.33228667,
        0.33969929,  0.34697577,  0.35411318,  0.36110867,  0.36795942,
        0.37466271,  0.38121584,  0.38761617,  0.39386116,  0.39994829,
        0.40587513,  0.4116393 ,  0.41723849,  0.42267045,  0.42793301,
        0.43302406,  0.43794156,  0.44268354,  0.4472481 ,  0.45163341,
        0.4558377 ,  0.45985931,  0.4636966 ,  0.46734806,  0.4708122 ,
        0.47408765,  0.47717309,  0.48006729,  0.48276908,  0.48527738,
        0.48759119,  0.48970958,  0.4916317 ,  0.49335678,  0.49488412,
        0.49621313,  0.49734326,  0.49827406,  0.49900515,  0.49953625,
        0.49986715,  0.4999977 ,  0.49992786,  0.49965766,  0.49918719,
        0.49851666,  0.49764633,  0.49657655,  0.49530775,  0.49384044,
        0.4921752 ,  0.4903127 ,  0.48825369,  0.48599899,  0.48354952,
        0.48090624,  0.47807022,  0.47504259,  0.47182458,  0.46841746,
        0.4648226 ,  0.46104145,  0.45707553,  0.45292641,  0.44859576,
        0.44408532,  0.4393969 ,  0.43453237,  0.42949369,  0.42428287,
        0.41890201,  0.41335325,  0.40763883,  0.40176103,  0.39572221,
        0.38952478,  0.38317125,  0.37666414,  0.37000607,  0.3631997 ,
        0.35624777,  0.34915306,  0.34191841,  0.33454673,  0.32704096,
        0.31940412,  0.31163927,  0.30374951,  0.29573802,  0.287608  ,
        0.2793627 ,  0.27100545,  0.26253957,  0.25396848,  0.2452956 ,
        0.2365244 ,  0.22765841,  0.21870118,  0.20965629,  0.20052738,
        0.1913181 ,  0.18203214,  0.17267322,  0.1632451 ,  0.15375155,
        0.14419638,  0.13458342,  0.12491651,  0.11519955,  0.10543641,
        0.09563102,  0.08578729,  0.07590919,  0.06600066,  0.05606568,
        0.04610823,  0.03613229,  0.02614188,  0.01614099,  0.00613363,
       -0.00387619, -0.01388445, -0.02388715, -0.03388027, -0.04385982,
       -0.05382179, -0.06376219, -0.07367703, -0.08356234, -0.09341416,
       -0.10322855, -0.11300156, -0.12272928, -0.13240781, -0.14203327,
       -0.15160181, -0.16110959, -0.1705528 , -0.17992765, -0.18923039,
       -0.19845729, -0.20760465, -0.21666881, -0.22564612, -0.234533  ,
       -0.24332589, -0.25202125, -0.2606156 , -0.2691055 , -0.27748755,
       -0.28575838, -0.29391469, -0.30195319, -0.30987068, -0.31766398,
       -0.32532996, -0.33286555, -0.34026773, -0.34753354, -0.35466006,
       -0.36164444, -0.36848388, -0.37517563, -0.38171701, -0.38810541,
       -0.39433826, -0.40041307, -0.40632739, -0.41207886, -0.41766518,
       -0.4230841 , -0.42833345, -0.43341113, -0.43831511, -0.44304342,
       -0.44759416, -0.45196551, -0.45615571, -0.4601631 , -0.46398606,
       -0.46762305, -0.47107263, -0.47433341, -0.47740409, -0.48028342,
       -0.48297026, -0.48546354, -0.48776225, -0.48986546, -0.49177235,
       -0.49348214, -0.49499415, -0.49630776, -0.49742247, -0.49833782,
       -0.49905343, -0.49956904, -0.49988442, -0.49999945, -0.49991409,
       -0.49962837, -0.49914241, -0.49845639, -0.4975706 , -0.49648539,
       -0.4952012 , -0.49371853, -0.49203799, -0.49016024, -0.48808605,
       -0.48581624, -0.48335171, -0.48069347, -0.47784257, -0.47480015,
       -0.47156744, -0.46814574, -0.4645364 , -0.46074089, -0.45676071,
       -0.45259747, -0.44825284, -0.44372855, -0.43902642, -0.43414834,
       -0.42909625, -0.42387219, -0.41847824, -0.41291657, -0.40718942,
       -0.40129906, -0.39524787, -0.38903827, -0.38267274, -0.37615385,
       -0.3694842 , -0.36266646, -0.35570337, -0.34859772, -0.34135235,
       -0.33397018, -0.32645415, -0.31880729, -0.31103265, -0.30313335,
       -0.29511257, -0.2869735 , -0.27871942, -0.27035363, -0.26187948,
       -0.25330038, -0.24461976, -0.2358411 , -0.22696792, -0.21800377,
       -0.20895224, -0.19981697, -0.19060162, -0.18130988, -0.17194546,
       -0.16251214, -0.15301368, -0.1434539 , -0.13383662, -0.1241657 ,
       -0.11444502, -0.10467847, -0.09486997, -0.08502344, -0.07514284,
       -0.06523212, -0.05529525, -0.04533623, -0.03535903, -0.02536767,
       -0.01536613, -0.00535844,  0.0046514 ,  0.01465938,  0.02466148,
        0.0346537 ,  0.04463202,  0.05459246,  0.06453102,  0.07444372,
        0.08432658,  0.09417564,  0.10398696,  0.11375661,  0.12348066,
        0.13315522,  0.14277641,  0.15234038,  0.1618433 ,  0.17128135,
        0.18065075,  0.18994775,  0.19916862,  0.20830966,  0.21736722,
        0.22633766,  0.23521739,  0.24400284,  0.25269051,  0.26127689,
        0.26975856,  0.27813211,  0.2863942 ,  0.29454149,  0.30257074,
        0.31047873,  0.31826227,  0.32591826,  0.33344363,  0.34083536,
        0.34809048,  0.3552061 ,  0.36217935,  0.36900744,  0.37568764,
        0.38221727,  0.38859372,  0.39481441,  0.40087688,  0.40677867,
        0.41251743,  0.41809086,  0.42349673,  0.42873286,  0.43379716,
        0.43868761,  0.44340223,  0.44793914,  0.45229652,  0.45647263])

In [38]:
xplus1 = x + 1
a = np.array([[1, 2], [3, 4]])
b = np.array([[-1, -2], [-3, -4]])
np.matmul(a, b)

array([[ -7, -10],
       [-15, -22]])

## __`numpy`__ Datetime Object

In [39]:
np.datetime64('2016')

numpy.datetime64('2016')

In [40]:
np.datetime64('2016-03')

numpy.datetime64('2016-03')

In [41]:
np.datetime64('2016-03-31 08:30:00')

numpy.datetime64('2016-03-31T08:30:00')

In [42]:
np.datetime64('2016-03-07') < np.datetime64('2016-03-09')

True

In [43]:
np.datetime64('2016-03-09') - np.datetime64('2016-03-07')

numpy.timedelta64(2,'D')

In [44]:
np.datetime64('2016-01-01') + np.timedelta64(59, 'D')

numpy.datetime64('2016-02-29')

In [45]:
np.arange(np.datetime64('2016-02-01'),
          np.datetime64('2016-03-01'))
#np.timedelta64(67,'D') / np.timedelta64(1, 'W')

array(['2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04',
       '2016-02-05', '2016-02-06', '2016-02-07', '2016-02-08',
       '2016-02-09', '2016-02-10', '2016-02-11', '2016-02-12',
       '2016-02-13', '2016-02-14', '2016-02-15', '2016-02-16',
       '2016-02-17', '2016-02-18', '2016-02-19', '2016-02-20',
       '2016-02-21', '2016-02-22', '2016-02-23', '2016-02-24',
       '2016-02-25', '2016-02-26', '2016-02-27', '2016-02-28',
       '2016-02-29'], dtype='datetime64[D]')

# Pandas
* has gained broad acceptance as THE data analysis tool for Python
* built on top of __`numpy`__ and significantly enhances it
* "__`numpy`__ with labels"
* deals with data in tabular form, but which attaches more general labels to the rows and columns
* more robust in handling common data formats and missing data
* adds relational database operations, e.g., joins
* the two most commons datatypes are series (1D) and dataframes (2D)

In [46]:
import pandas as pd

# Panda Series

In [47]:
s = pd.Series([0, 1, 4, 9, 16, 25], name='squares')
s

0     0
1     1
2     4
3     9
4    16
5    25
Name: squares, dtype: int64

In [48]:
s.values

array([ 0,  1,  4,  9, 16, 25])

In [49]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [50]:
s[2]

4

In [51]:
s[2:4]

2    4
3    9
Name: squares, dtype: int64

In [52]:
ieee2015 = pd.Series([100.0, 99.9, 99.4, 96.5, 91.3, 84.8, 84.5, 83.0, 
76.2, 72.4], index=['Java', 'C', 'C++', 'Python', 'C#', 'R', 'PHP',
                    'JavaScript', 'Ruby', 'Matlab'])

In [53]:
ieee2015

Java          100.0
C              99.9
C++            99.4
Python         96.5
C#             91.3
R              84.8
PHP            84.5
JavaScript     83.0
Ruby           76.2
Matlab         72.4
dtype: float64

In [54]:
ieee2015.index

Index(['Java', 'C', 'C++', 'Python', 'C#', 'R', 'PHP', 'JavaScript', 'Ruby',
       'Matlab'],
      dtype='object')

In [62]:
ieee2015[3], ieee2015['Ruby']

(96.5, 76.200000000000003)

# Panda indices

In [55]:
s = pd.Series(np.nan, index=[49, 48, 47, 46,
                             45, 1, 2, 3, 4, 5])

In [56]:
s[:3]

49   NaN
48   NaN
47   NaN
dtype: float64

In [57]:
# iloc = integer index location
s.iloc[:3]

49   NaN
48   NaN
47   NaN
dtype: float64

In [58]:
# all items up to and including the string index '3'
# (not the 3rd element in the series)
s.loc[:3]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [67]:
# there is no index '6', so 
# s[:6] == s.iloc[:6]
s[:6]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
dtype: float64

In [68]:
s.iloc[:6]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
dtype: float64

In [69]:
s.loc[:6]

KeyError: 6

In [70]:
ieee2015[1:4]

C         99.9
C++       99.4
Python    96.5
dtype: float64

In [71]:
ieee2015['C++':'R']

C++       99.4
Python    96.5
C#        91.3
R         84.8
dtype: float64

In [72]:
ieee2015[ieee2015 > 95]

Java      100.0
C          99.9
C++        99.4
Python     96.5
dtype: float64

# Panda series from dict

In [59]:
ieee2015 = pd.Series({'Java': 100.0, 'C': 99.9, 'C++': 99.4,
                      'Python': 96.5, 'C#': 91.3, 'R': 84.8,
                      'PHP': 84.5, 'JavaScript': 83.0, 'Ruby': 76.2,
                      'Matlab': 72.4})

In [60]:
ieee2015

Java          100.0
C              99.9
C++            99.4
Python         96.5
C#             91.3
R              84.8
PHP            84.5
JavaScript     83.0
Ruby           76.2
Matlab         72.4
dtype: float64

# Panda DataFrames
* extend numpy 2D arrays by giving labels to the columns and also to the rows (if you provide an explicit index)

In [61]:
ieee2014 = pd.Series([100.0, 99.3, 95.5, 94.5, 92.4, 84.8, 84.5,
    78.9, 74.3, 72.8], index=['Java', 'C', 'C++',
    'Python', 'C#', 'PHP', 'JavaScript', 'Ruby', 'R', 'Matlab'])
ieee2015 = pd.Series({'Java': 100.0, 'C': 99.9, 'C++': 99.4,
        'Python': 96.5, 'C#': 91.3, 'R': 84.8, 'PHP': 84.5,
        'JavaScript': 83.0, 'Ruby': 76.2, 'Matlab': 72.4})
pldata = pd.DataFrame({'2014': ieee2014, '2015': ieee2015})
#ieee2014, ieee2015

#pldata = pd.DataFrame(ieee2014, ieee2015)
print(pldata)

             2014   2015
C            99.3   99.9
C#           92.4   91.3
C++          95.5   99.4
Java        100.0  100.0
JavaScript   84.5   83.0
Matlab       72.8   72.4
PHP          84.8   84.5
Python       94.5   96.5
R            74.3   84.8
Ruby         78.9   76.2

In [62]:
pldata

             2014   2015
C            99.3   99.9
C#           92.4   91.3
C++          95.5   99.4
Java        100.0  100.0
JavaScript   84.5   83.0
Matlab       72.8   72.4
PHP          84.8   84.5
Python       94.5   96.5
R            74.3   84.8
Ruby         78.9   76.2

In [63]:
pldata.sort_values(by='2015', ascending=False)

             2014   2015
Java        100.0  100.0
C            99.3   99.9
C++          95.5   99.4
Python       94.5   96.5
C#           92.4   91.3
R            74.3   84.8
PHP          84.8   84.5
JavaScript   84.5   83.0
Ruby         78.9   76.2
Matlab       72.8   72.4

In [64]:
pldata.values

array([[ 99.3,  99.9],
       [ 92.4,  91.3],
       [ 95.5,  99.4],
       [100. , 100. ],
       [ 84.5,  83. ],
       [ 72.8,  72.4],
       [ 84.8,  84.5],
       [ 94.5,  96.5],
       [ 74.3,  84.8],
       [ 78.9,  76.2]])

In [65]:
pldata.columns

Index(['2014', '2015'], dtype='object')

In [66]:
pldata['2014']

C              99.3
C#             92.4
C++            95.5
Java          100.0
JavaScript     84.5
Matlab         72.8
PHP            84.8
Python         94.5
R              74.3
Ruby           78.9
Name: 2014, dtype: float64

# Adding a column to a DataFrame

In [67]:
pldata['avg'] = (pldata['2014'] + pldata['2015']) / 2
pldata

             2014   2015     avg
C            99.3   99.9   99.60
C#           92.4   91.3   91.85
C++          95.5   99.4   97.45
Java        100.0  100.0  100.00
JavaScript   84.5   83.0   83.75
Matlab       72.8   72.4   72.60
PHP          84.8   84.5   84.65
Python       94.5   96.5   95.50
R            74.3   84.8   79.55
Ruby         78.9   76.2   77.55

# Creating a DataFrame from dicts

In [70]:
presidents = pd.DataFrame([
    { 'name': 'Barack Obama', 'elect': 2008, 'born': 1961 },
    { 'name': 'George W. Bush', 'elect': 2000, 'born': 1946 },
    { 'name': 'Bill Clinton', 'elect': 1992, 'born': 1946 },
    { 'name': 'George H.W. Bush', 'elect': 1988, 'born': 1924 },
])
presidents

               name  elect  born
0      Barack Obama   2008  1961
1    George W. Bush   2000  1946
2      Bill Clinton   1992  1946
3  George H.W. Bush   1988  1924

# Setting the Index of a DataFrame

In [71]:
president_indexes = presidents.set_index('name')
president_indexes

                  elect  born
name
Barack Obama       2008  1961
George W. Bush     2000  1946
Bill Clinton       1992  1946
George H.W. Bush   1988  1924

In [72]:
presidents

               name  elect  born
0      Barack Obama   2008  1961
1    George W. Bush   2000  1946
2      Bill Clinton   1992  1946
3  George H.W. Bush   1988  1924

# Manipulating a DataFrame

In [92]:
president_indexes

                  born  elect
name
Barack Obama      1961   2008
George W. Bush    1946   2000
Bill Clinton      1946   1992
George H.W. Bush  1924   1988

In [73]:
president_indexes['born'].idxmax()

'Barack Obama'

In [74]:
president_indexes['born']['Bill Clinton']

1946

In [75]:
president_indexes.loc['Bill Clinton']

elect    1992
born     1946
Name: Bill Clinton, dtype: int64

In [76]:
president_indexes.loc['Bill Clinton']['born']

1946

In [77]:
#presidents['born']
pd.DataFrame(presidents['born'])

   born
0  1961
1  1946
2  1946
3  1924

In [99]:
presidents['born'][2]

1946

In [100]:
presidents.iloc[2]

born             1946
elect            1992
name     Bill Clinton
Name: 2, dtype: object

In [101]:
presidents.iloc[2]['born']

1946

# Merging Two DataFrames

In [78]:
presidents_dads = pd.DataFrame([
    { 'son': 'Barack Obama', 'father': 'Barack Obama, Sr.' },
    { 'son': 'George W. Bush', 'father': 'George H.W. Bush' },
    { 'son': 'George H.W. Bush', 'father': 'Prescott Bush' },
])

presidents_dads

                son             father
0      Barack Obama  Barack Obama, Sr.
1    George W. Bush   George H.W. Bush
2  George H.W. Bush      Prescott Bush

In [79]:
presidents

               name  elect  born
0      Barack Obama   2008  1961
1    George W. Bush   2000  1946
2      Bill Clinton   1992  1946
3  George H.W. Bush   1988  1924

In [104]:
pd.merge(presidents, presidents_dads, 
         left_on='name', right_on='son')

   born  elect              name             father               son
0  1961   2008      Barack Obama  Barack Obama, Sr.      Barack Obama
1  1946   2000    George W. Bush   George H.W. Bush    George W. Bush
2  1924   1988  George H.W. Bush      Prescott Bush  George H.W. Bush

In [80]:
pd.merge(presidents, presidents_dads, left_on='name',
         right_on='son').drop('son' , axis=1)

               name  elect  born             father
0      Barack Obama   2008  1961  Barack Obama, Sr.
1    George W. Bush   2000  1946   George H.W. Bush
2  George H.W. Bush   1988  1924      Prescott Bush

In [81]:
pd.merge(presidents, presidents_dads, left_on='name',
         right_on='son', how='left').drop('son', axis=1)

               name  elect  born             father
0      Barack Obama   2008  1961  Barack Obama, Sr.
1    George W. Bush   2000  1946   George H.W. Bush
2      Bill Clinton   1992  1946                NaN
3  George H.W. Bush   1988  1924      Prescott Bush

# Lab: Pandas
*  read the weather data from __`weather.csv`__ (__`http://bit.ly/1PL3X6t`__) into a DataFrame called __`weather`__ (there is a Pandas function __`read_csv`__ that will parse and read a CSV file)
* set the index of weather to be __`DATE`__
* examine the column __`PrecipitationIn`__ (precipitation in inches by date)
* determine the total amount of precipitation for the entire dataset (there is a __`.sum()`__ function)
* determine the total amount of precipitation for the month of February 2013
* create a new __`DataFrame`__ which only contains the rows of weather for which there was some precipitation

In [109]:
weather = pd.read_csv('weather.csv')
weather.info()
weather = weather.set_index('DATE')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DATE                        366 non-null    object
 1   max_tempF                   366 non-null    int64
 2   mean_tempF                  366 non-null    int64
 3   min_tempF                   366 non-null    int64
 4   max_dew_pointF              366 non-null    int64
 5   mean_dew_pointF             366 non-null    int64
 6   min_dew_pointF              366 non-null    int64
 7   max_humidity                366 non-null    int64
 8   mean_humidity               366 non-null    int64
 9   min_humidity                366 non-null    int64
 10  Max Sea Level PressureIn    366 non-null    float64
 11   Mean Sea Level PressureIn  366 non-null    float64
 12   Min Sea Level PressureIn   366 non-null    float64
 13   Max VisibilityMiles        366 non-null    int64
 14   Mean VisibilityMiles       366 non-null    int64
 15   Min VisibilityMiles        366 non-null    int64
 16   Max Wind SpeedMPH          366 non-null    int64
 17   Mean Wind SpeedMPH         366 non-null    int64
 18   Max Gust SpeedMPH          365 non-null    float64
 19  PrecipitationIn             366 non-null    float64
 20   CloudCover                 366 non-null    int64
 21   Events                     162 non-null    object
 22   WindDirDegrees             366 non-null    int64
dtypes: float64(5), int64(16), object(2)
memory usage: 65.9+ KB

In [110]:
weather.index

Index(['2012-3-10', '2012-3-11', '2012-3-12', '2012-3-13', '2012-3-14',
       '2012-3-15', '2012-3-16', '2012-3-17', '2012-3-18', '2012-3-19',
       ...
       '2013-3-1', '2013-3-2', '2013-3-3', '2013-3-4', '2013-3-5', '2013-3-6',
       '2013-3-7', '2013-3-8', '2013-3-9', '2013-3-10'],
      dtype='object', name='DATE', length=366)

In [95]:
weather['PrecipitationIn']

DATE
2012-3-10    0.00
2012-3-11    0.00
2012-3-12    0.03
2012-3-13    0.00
2012-3-14    0.00
             ...
2013-3-6     0.04
2013-3-7     0.00
2013-3-8     0.00
2013-3-9     0.00
2013-3-10    0.00
Name: PrecipitationIn, Length: 366, dtype: float64

In [114]:
pin = weather['PrecipitationIn']
pin.sum()

35.46

In [121]:
pin.head()

DATE
2012-03-10    0.00
2012-03-11    0.00
2012-03-12    0.03
2012-03-13    0.00
2012-03-14    0.00
Name: PrecipitationIn, dtype: float64

In [115]:
pin.index = pd.to_datetime(weather.index)

In [116]:
type(pin.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [123]:
pin['2013-02-01':'2013-02-28'].sum()

2.5499999999999994

In [126]:
wplus = weather[weather['PrecipitationIn'] > 0]
min(wplus['PrecipitationIn'])

0.01